{% extends 'base.html' %}
{% block title %} 
contact
{% endblock%}

{% block content %}
<center>
    <h1 style="color: blueviolet; font-size: 60px; border: 1px solid black;border-radius: 5px; width: 100%; padding: 10px;">
        Welcome to contact Page
    </h1>
    <div style="border: 2px solid black; border-radius: 9px;background-color: rgb(222, 222, 222); margin: 10px 90px 90px 90px;width: 500px;">
        <h1 style="color: blueviolet; font-size: 50px;padding: 20px;">Contact Me</h1>
        <h4>Feel Free To Contact me</h4>
        <hr>
        <div style="padding: 12px;">
            <h1>Mail</h1>
            Udayg280604@gmail.com
        </div><hr>
        <div style="padding: 12px;">
            <h1>
            Ph:-
        </h1>9353875831
    </div><hr>
        <div style="padding: 12px;">
            <h1>Address</h1>hanasi(P) Hospete Vijayanaga
        </div>
    </div>
</center>
{% endblock%}